@charset "UTF-8";


/* UNIVERSAL */
body {
  width: 90%;
  height: 100%;
  margin-bottom: 100px;
  padding: 20px 50px;
  background-color: #000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  color: #fff;
}

a {  
  color: #00F0FF;
  text-decoration: none;

  &:hover {
    color: #B2FAFF;
  }

  &:active {
    color: #FFF500;
  }
}


/* NAVIGATION */
.nav {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  a {
    color: #FF00B8;
    text-decoration: none;
    font-size: 25px;
  
    &:hover {
      color: #FF80DB;
    }
  
    &:active {
      color: #FFF500;
    }
  }
}


/* BLURB */
.blurb {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: no-repeat center center;
  background-size: contain;
  background-attachment: scroll;

  text-align: center;

  h1 {
    margin: 10px;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
  }
}


video {
  max-width: 50%;
}

img {
  max-width: 50%;
}

/* LOG */
.timeline {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.months { 
  width: 100%;
  height: 100%;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  align-items: flex-start; 

  & > a {
    padding-right: 10px;
  }
}


/* LOG PAGE */
.date {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  border-top: 1px solid #fff;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.entry {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  > h2 {
    margin-bottom: 0px;
  }

  .logged {
    color: #808080;
    font-style: italic;
    padding-right: 5px;
  }
}


/* LIST */
.list {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


/* TABLE */
table {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border: 1px solid #fff;
  border-collapse: collapse;
}
th, td {
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
}