.ProfileButton-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 44px;
    min-width: 100px;
    padding: 0px 15px;

    font-size: 14px;
    border: 0px;
    background-color: white;
    cursor: pointer;
    color: #333;
}
.ProfileButton-container:hover {
    border-radius: 10px;
    background-color: #f7f7f7;
}

.ProfileButton-container > i:first-child {
    font-size: 24px;
    padding-right: 16px;
}

.ProfileButton-container > i:last-child {
    font-size: 10px;
    font-weight: 600;
}
/* #visible-on-hover {
    visibility: hidden;
}
#visible-on-hover:hover {
    visibility: visible;
} */


/* MODAL */
.ProfileButton-modal-container {
    position: fixed;
    top:0;
    right: 0;
    z-index: 1;

    height: 100vh;
    width: 375px;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.ProfileButton-modal-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 64px;
    font-size: 23px;
    font-weight: 700;
    padding: 0px 16px;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.ProfileButton-modal-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 16px;
}
.ProfileButton-modal-title-container > div {
    width: 40px;
    height: 40px;
    border-radius: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    background-color: #f7f7f7;
    font-size: 20px;
    cursor: pointer;
}
.ProfileButton-modal-title-container > div:hover {
    background-color: #d6d6d6;
}

/********** MENU OPTIONS **********/
.ProfileButton-modal-list-container > * {
    height: 49.71px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    /* border: 1px solid red; */
    border-bottom: 1px solid rgb(214, 214, 214);
    text-decoration: none;
}
#ProfileButton-modal-list-user-greeting {
    text-decoration: none;
}

/* refers to NavLink */
.ProfileButton-modal-list-container > * > * {
    font-size: 18px;
    text-decoration: none;
    color: #333;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}
.ProfileButton-modal-list-container > * > *:hover {
    text-decoration: underline;
}

.ProfileButton-modal-list-container > * > * > :last-child {
    font-size: 16px;
    color: #666;
}
#ProfileButton-modal-list-SignOut-button{
    border: 0px;
    background-color: #fff;
    cursor: pointer;
    font-size: 18px;
    color: #333;
    width: 352px;
}
#ProfileButton-modal-list-SignOut-button:hover{
    text-decoration: underline;
    color: #333;
}

#Profile-nav-square-logo-container {
    width: 93.38px;

    display: flex;

    /* border: 1px solid red; */
}
#Profile-nav-square-logo {
    width: 100px;
    height: 45px;

    padding: 0px;
    object-fit: cover;
}

#heart-icon-ProfileButtonModal {
    padding-right: 7px;
}
