.RedCardPanelDebitCard-component {
    width: 100%;
    max-width: 1400px;

    margin: 90px 16px 16px;
    padding: 0px 40px 32px;
    border-radius: 24px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #f7f7f7;
    box-shadow: rgb(0 0 0 / 2%) 0px -1px 6px, rgb(0 0 0 / 4%) 0px 1px 3px, rgb(0 0 0 / 6%) 0px 3px 5px, rgb(0 0 0 / 4%) 0px 4px 6px;
}


/********** LEFT **********/
.RedCardPanelDebitCard-left {
    padding-top: 32px;
}

.RedCardPanelDebitCard-left > * {
    margin: 0px 0px 8px;

    font-weight: 700;
}

.RedCardPanelDebitCard-left > h2 {
    font-size: 45px;
    color: #c00;
    display: flex;
}

.RedCardPanelDebitCard-left > h3 {
    width: 800px;

    font-size: 29px;
    color: #333;
}

.RedCardPanelDebitCard-left > p {
    font-size: 14px;
    color: #666;
    font-weight: normal;
}

#RedCardPanelDebitCard-title-superscript {
    font-size: 13.3333px;
}
#RedCardPanelDebitCard-footnote-superscript {
    font-size: 10.5px;
    padding: 0px 3px;
}

/* button */
#RedCard-CTA-button-black {
    width: 170px;
    height: 44px;
    background-color: #333;

    margin: 18px 20px 12px 0px;
    padding: 0px 12px;
    border: none;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-weight: 700;

    cursor: pointer;
}
#RedCard-CTA-button-black > a {
    color: #fff;
    text-decoration: none;
}
#RedCard-CTA-button-black:hover {
    background-color: #000;
}

/********** RIGHT **********/
#debit-check-image {
    width: 322px;
    height: 289px;

    margin: 0px;
    padding: 0px;

    object-fit: cover;
}
