.CategoriesButton-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 44px;
    width: 125px;

    font-size: 16px;
    font-weight: 700;
    border: 0px;
    background-color: white;
    cursor: pointer;
    color: #333;
}
.CategoriesButton-container:hover {
    border-radius: 10px;
    background-color: #f7f7f7;
}

.categories-menu-side-panel-container {
    position: absolute;
    /* offset by NavBarAccount's height */
    top: 80px;
    left: inherit;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 550px;
    width: 320px;

    background-color: #fff;

    padding: 0px 16px;
    /* border-bottom: 1px solid red; */
    border-radius: 0px 0px 8px 8px;
    /* box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px 0px; */

}
.categories-menu-side-panel-title {
    height: 64px;
    width: 304px;

    font-size: 19px;
    color: #333;
    font-weight: 700;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.categories-menu-side-panel-list-item-container {
    height: 44px;
    width: 304px;
    padding: 12px 0px;
    /* background-color: red; */
    border-bottom: 1px solid rgb(214, 214, 214);

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.categories-menu-side-panel-list-item {
    text-decoration: none;
    color: #333;
}
.categories-menu-side-panel-list-item:hover {
    text-decoration: underline;
}
