.NavBarAccount-wrapper-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 2;

    border-bottom: 0.5px solid #efefef;

    /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
    box-shadow: 0px 4px 12.5px -12px #666;


    background-color: white;
}

#NavBarAccount-component {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    padding: 0px 20px;
    margin: 0px;

    height: 80px;
    width: 100%;
    max-width: 1400px;

    color: rgb(51, 51, 51);
    /* background-color: yellow; */
}


/******************** LEFT ********************/
.NavBarAccount-left {
    grid-column: 1 / 2;
    /* background-color: red; */

    padding-left: 20px;

    display: flex;
    flex-direction: row;
    justify-content:  left;
    align-items: center;
}

.NavBarAccount-left > * {
    margin-right: 15px;
}

#navbar-logo {
    width: 44px;
    /* padding: 0px; */
}


/******************** MIDDLE ********************/
.NavBarAccount-middle {
    grid-column: 2 / 3;
    /* width: 100%; */
    /* background-color: #333; */

    padding: 0px 20px;

    display: flex;
    flex-direction: row;
    justify-content:  center;
    align-items: center;
}


/******************** RIGHT ********************/
.NavBarAccount-right {
    grid-column: 3 / 4;
    /* background-color: aqua; */

    padding-right: 20px;

    display: flex;
    flex-direction: row;
    justify-content:  right;
    align-items: center;
}

.NavBarAccount-right > * {
    margin-left: 20px;
    text-decoration: none;
}


#NavBarAccount-cart-button-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 44px;
    width: 44px;

    color: #333;
    font-size: 16px;
}
#NavBarAccount-cart-button-container:hover {
    background-color: #f7f7f7;
    border-radius: 4px;
    text-decoration: none;
}
#NavBarAccount-cart-button-container:visited {
    text-decoration: none;
}
#NavBarAccount-cart-button{
    color: #333;
    font-size: 20px;
    text-decoration: none;
    border: none;
    /* background-color: red; */
}
#NavBarAccount-cart-button:before{
    text-decoration: none;
}
#NavBarAccount-cart-button:visited{
    text-decoration: none;
}
#NavBarAccount-cart-button:active{
    text-decoration: none;
}
