.SquarePanelRedCard-component {
    width: 100vw;
    /* max-width: 1400px; */

    padding: 0px 0px 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SquarePanelRedCard-content-container {
    width: 100vw;
    max-width: 1400px;
    background-color: #f7f7f7;

    margin: 0px 4px;
    padding: 32px 0px;

    display: flex;
    flex-direction: row;
}



/********** IMAGE **********/
.SquarePanelRedCard-image-container {
    width: 315px;
    /* width: 164px; */
    /* height: 164px; */

    margin-left: 70px;
    margin-right: 10px;
    padding-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#Square-RedCard-icon-2 {
    width: 250px;
    height: 170px;

    object-fit: cover;
}


/********** TEXT **********/
.SquarePanelRedCard-text-container {
    width: 100%;
    padding-right: 32px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    color: #333;
}

.SquarePanelRedCard-text-container > h2 {
    margin: 0px 0px 8px;

    font-size: 29px;
    font-weight: 700;
}

.SquarePanelRedCard-text-container > p {
    width: 680px;

    margin: 0px 0px 8px;

    font-size: 16px;
    font-weight: 700;
}
.SquarePanelRedCard-text-container > p > sup {
    font-size: 10px;
    color: #666;
    text-decoration: underline;
}

.SquarePanelRedCard-text-container > span {
    font-size: 16px;
}

.SquarePanelRedCard-text-container > span > a {
    color: #666;
}
.SquarePanelRedCard-text-container > span > a:hover {
    color: #333;
    text-decoration: none;
}
