.SquarePanelRedemption-component {
    width: 100vw;
    /* max-width: 1400px; */

    margin: 0px 0px 32px;
    padding: 0px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #f7f7f7;
}
.SquarePanelRedemption-content-container {
    width: 100vw;
    max-width: 1400px;

}

.SquarePanelRedemption-section-container {
    /* sorts header and cards */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

/********** HEADER **********/
.SquarePanelRedemption-section-header-container > h2 {
    margin: 32px 0px 8px;

    font-size: 29px;
    color: #333;
    font-weight: 700;
}
.SquarePanelRedemption-section-header-container > div {
    max-width: 1075px;

    margin: 0px 0px 20px;

    font-size: 16px;
    color: #333;
}
.SquarePanelRedemption-section-header-container > p {
    max-width: 1075px;

    margin-top: 16px;

    font-size: 16px;
    color: #333;
}


/********** CARDS **********/
.SquarePanelRedemption-section-cards-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.SquarePanelRedemption-section-card {
    padding-bottom: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}
.SquarePanelRedemption-section-card > h3{
    width: 100%;

    margin: 0px 12px 8px;
    padding: 4px 0px;

    color: #333;
    font-size: 23px;
}

.SquarePanelRedemption-section-card > p {
    width: 200px;

    margin: 0px 21px;
    padding: 0px 12px 16px;

    color: #333;
    font-size: 14px;
}

/* images */
#redemption-icon-container {
    width: 116px;
    height: 116px;

    margin: 10px 42px 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#redemption-icon-image {
    width: 210px;
    height: 210px;

    object-fit: contain;
}
#redemption-icon-container-wide {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    /* border: 1px solid red; */
}

/* Section 2 */
#redemption-card2-title {
    width: 268px;

    border-bottom: 1px solid #d6d6d6;
}

/* Exception */
#SquarePanelRedemption-section-card-wide {
    width: 650px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

#SquarePanelRedemption-section-card-wide > h3{
    width: 100%;

    border-bottom: 1px solid #d6d6d6;
}

#SquarePanelRedemption-section-card-wide > p {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    text-align: center;
}
#SquarePanelRedemption-section-card-wide > p > span {
    width: 220px;

    text-align: center;
}

/* Exceptions */
.SquarePanelRedemption-content-container > div:first-of-type {
    border-bottom: 1px solid #d6d6d6
}

#redemption-superscript {
    font-size: 10px;
    color: #666;
}
