
/* MODAL */
.NavBarAccount-container {
    height: 100vh;
    min-width: 348px;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    border: 1px solid rgb(214, 214, 214);
}

.NavBarAccount-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../../images/Account/account-wallpaper.jpeg");
    background-position: center;
    background-size: 215%;



    height: 140px;
    font-size: 29px;
    font-weight: 700;
    color: #333;

    padding-left: 16px;
    border-bottom: 1px solid rgb(214, 214, 214);
}
#NavBarAccount-title-user-greeting {
    margin: 3px;
}
#NavBarAccount-title-account-createdAt {
    /* width: 210.42px; */
    width: 250px;
    height: 25.59;
    background-image: url("../../../images/Account/account-ribbon.png");
    background-position: center;
    background-size: 262px 35px;
    /* background-color: #CC0000; */

    margin: 0px 6px 0px 12.8px;
    padding: 2.8px 8px;

    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
}

.NavBarAccount-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NavBarAccount-list-container > * {
    height: 59px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    /* border: 1px solid red; */
    border-bottom: 1px solid rgb(214, 214, 214);
    text-decoration: none;
}

/* refers to NavLink */
.NavBarAccount-list-container > * > * {
    font-size: 19px;
    text-decoration: none;
    color: #333;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding: 20px 16px;
}
.NavBarAccount-list-container > * > *:hover {
    text-decoration: underline;
}

.NavBarAccount-list-container > * > * > :last-child {
    font-size: 14px;
    color: #666;
}
