.ProductPage-page-wrapper-container {
    display: flex;
    justify-content: center;

    margin-bottom: 0px;
    padding: 30px 0px;

    width: 100vw;
    height: 100%;
}

#ProductPage-component{
    width: 100%;
    max-width: 1400px;
    height: 100%;


    margin: 0px;
    padding: 0px 20px;

    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}


.ProductPage-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:  100%;
    font-size: 14px;
    color: #333;
    padding-bottom: 20px;
}
.ProductPage-directory-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:  100%;
    font-size: 14px;
    color: #333;
    padding-bottom: 20px;
}
.ProductPage-directory-container > * {
    padding-right: 4px;
    color: #666;
}
.ProductPage-directory-container > *:hover {
    color: #333;
    text-decoration: none;
}
.ProductPage-title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;

    font-size: 23px;
    font-weight: 700;
}



#ProductPage-thumbnail {
    width: 140px;

    padding-bottom: 8px;

    /* cursor: pointer; */
}

#ProductPage-main-image-container {
    width: 740px;
    height: 740px;

    position: relative;

    display: grid;
    grid-template-columns: 80% 20%;
    /* border: 1px solid red; */

    /* cursor: pointer; */
}
#ProductPage-main-image {
    width: 740px;

    grid-column: 1 / 3;
}
#ProductPage-UpdateFavorite-button {
    padding-right: 20px;
    padding-bottom: 20px;

    grid-column: 2 / 3;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}


.ProductPage-body-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    /* background-color: red; */
}


.ProductPage-review-and-actions-container {
    width: 476px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

.ProductPage-price-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px 16px;
    /* background-color: red; */
}
.ProductPage-price-container > div {
    font-size: 23px;
    font-weight: 700;
    margin: 0px 16px;
    padding: 0px;
}
.ProductPage-price-container > p {
    font-size: 14px;
    margin: 0px 16px;
    padding-top: 10px;
}


.ProductPage-rating-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 16px;
    font-size: 14px;

    color: #666;
    text-decoration: underline;
    /* cursor: pointer; */
}
/* .ProductPage-rating-container:hover {
    color: #333;
    text-decoration: none;
} */
.ProductPage-rating-container > * {
    margin-left: 16px;
}
#ProductPage-rating-review-count {
    margin-left: 8px;
}


.random-div {
    width: 100%;

}
.ProductPage-description-container {
    width: 100%;
    height: 463.602px;
    background-color: #f7f7f7;
    padding: 20px;
    margin: 50px 0px;
}
.ProductPage-description-header-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px 0px;
    /* border-bottom: 1px solid rgb(214, 214, 214); */
    /* background-color: red; */
}
.ProductPage-description-header-container > div {
    font-size: 23px;
    font-weight: 700;
}
.ProductPage-description-header-container > div:last-child {
    width: 95%;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0px;

    border-bottom: 1px solid rgb(214, 214, 214);
    /* background-color: red; */
}
/* .ProductPage-description-header-container > div:last-child > p {
    width: fit-content;
    border-bottom: 1px solid red;
} */

.ProductPage-description-highlights-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:93%;
    height: 240px;
    background-color: #fff;
    margin: 30px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.ProductPage-description-highlights-container > div {
    font-weight: 700;
    font-size: 16px;
    /* background-color: black; */

}
.ProductPage-description-highlights-container > p {
    font-size: 14px
}

#ProductPage-write-a-review-button {

}
