#AccountPage-component {
    width: 100%;
    height: 100vh;
    max-width: 1400px;

    margin: 0px;
    padding: 0px 20px;

    display: flex;
    flex-direction:row;
    align-items: center;
}

/* .NavBarAccount-component-container{
    height: 100%;
    background-color: #f7f7f7;
} */

.AccountPage-right {
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;

    padding: 0px 12px;

    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr); */

    display: flex;
    flex-direction: column;
}

.AccountPage-orders-blurb {
    /* grid-row: 1 / 2; */
    margin-bottom: 20px;
}

.AccountPage-reviews-blurb {
    /* grid-row: 2 / 3; */
    /* apply margin if flex; no margin if grid */
    margin-top: 20px;

}

.AccountPage-blurb-title-container {
    width: 100%;
    height: 28.75px;
    background-color: #f7f7f7;
    margin: 12px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.AccountPage-blurb-title-container:first-child {
    font-size: 23px;
    color: #333;
    font-weight: 700;
}

#AccountPage-blurb-title-redirect {
    font-size: 14px;
    font-weight: normal;
    color: #666;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}
#AccountPage-blurb-title-redirect > i {
    font-size: 10px;
    color: #666;
    text-decoration: none;
    padding-left: 4px;
}




/* CARD */
.AccountPage-blurb-card-container {
    height: 85%;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px 0px;;
    background-color: #fff;
    padding: 10px;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.blurb-card-title-container {
    width: 100%;
    height: 27.14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}
.blurb-card-title-container:first-child {
    font-size: 19px;
    color: #333;
    font-weight: 700;
}
.blurb-card-title-container:last-child {
    font-size: 19px;
    color: #333;
    font-weight: 700;
}
#blurb-card-title-redirect {
    font-size: 16px;
    font-weight: normal;
    color: #333;
    text-decoration: none;
}


.blurb-card-details-container > p {
    font-size: 14px;
    color: #666;
    margin: 5px 0px;
}
.blurb-card-details-container > div {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin: 20px 0px;
}
.blurb-card-details-container > div > i {
    font-size: 25px;
    color: #469a3e;
    margin: 2px 0px;
    padding-right: 5px;
}
.blurb-card-thumbnail-container {
    width: 100%;
    display: inline-block;
}


#blurb-card-order-thumbnail {
    width: 60px;
}

/* REVIEWS CARD */
#blurb-card-review-description {
    color: #333;
    padding: 20px 0px;
}
.blurb-card-review-product-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size:  16px;
    color: #333;
    margin-top: 20px;
    text-decoration: none;
}
#blurb-card-review-thumbnail {
    /* width: 100px; */
    width: 60px;
    padding-right: 20px;
}


/********** EMPTY CARD **********/
.AccountPage-empty-card {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: normal;
}

.AccountPage-empty-card-image-container {
    width: 200px;

    padding: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.AccountPage-empty-card-image {
    width: 220px;
    object-fit: cover;
}

.AccountPage-empty-card  > h2 {
    margin: 0px 0px 8px;

    font-size: 19px;
    color: #333;
    font-weight: normal;
}

.AccountPage-empty-card  > p {
    margin: 12px 0px;

    font-size: 14px;
    color: #666;
}
