.RedCard-CTA-button{
    height: 44px;
    background-color: #cc0000;

    margin: 0px 16px 8px 0px;
    border: none;
    border-radius: 4px;
    padding: 0px 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-weight: 700;

    cursor: pointer;
}
#CTA-button-credit {
    width: 145.62px;
}
#CTA-button-debit {
    width: 139.37px;
}
#CTA-button-reloadable {
    width: 170.64px;
}
.RedCard-CTA-button > a {
    color: #fff;
    text-decoration: none;
}
.RedCard-CTA-button:hover {
    background-color: #aa0200;
}
