#LandingAdvertPanelSubLeft-component {
    width: 95%;
    height: 100%;
    /* max-width: 1400px; */

    margin: 0px;
    padding: 0px 20px;

    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;

    background-color: black;
    background-image: linear-gradient(-45deg, #62cbd1 50%, transparent 25%, transparent 50%);
}

.promo-text-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #62cbd1;
    /* background-color: red; */
}

#up-to{
    font-size: 29px;
    font-weight: 700;
}
.promo-text-sub-container {
    width: 100%;
    /* height: 100%; */

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    font-size: 80px;
    font-weight: 700;

    /* background-color: aqua; */
}
#promo-text-sub-sub-container {
    width: 100%;
    /* height: 100%; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-size: 30px;
    font-weight: 700;

    margin-left: 5px;

    /* background-color: yellow; */
}

#promo-text-sub-sub-container > div {
    padding: 0px;
    margin: 0px;
}


#promo-image {
    width: 330px;
}
