#LandingAdvertPanelMain-component {
    width: 100%;
    max-width: 1400px;

    margin: 0px;
    padding: 0px 20px;

    display: flex;
    flex-direction:column;
    align-items: center;
}

.LandingAdvertPanelMain-title-container {
    width: 100%;
    height: 200px;

    display: flex;
    flex-direction:column;
    align-items: center;

    padding: 40px 0px;
    background-color: black;
}
.LandingAdvertPanelMain-title {
    font-size: 117px;
    font-weight: 700;
    color: #62cbd1;
}
.LandingAdvertPanelMain-subtitle {
    font-size: 29px;
    color: #fff;
    font-weight: 700;
}

.LandingAdvertPanelMain-panel {
    width: 100%;
    height: 300px;

    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: scroll;
    background-color: #252525;
    padding: 0px;
}
.main-panel-scroll-title {
    height: 280px;
    min-width: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    color: #fff;
    font-weight: 700;
}
.main-panel-scroll-title > * {
    margin: 0px;
    padding: 0px;
}

.main-panel-list {
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
}
.main-panel-list-item-container{
    height: 280px;
    width: 180px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0px 5px;
    background-color: #fff;
}
.main-panel-list-item-container > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0px 5px;
    background-color: #fff;

    font-size: 12px;
    text-decoration: none;
}

#LandingAdvertPanelMain-thumbnail {
    width: 130px;
    object-fit: cover;

    text-decoration: none;
}
#main-panel-list-item-price {
    color: #c44237;
    font-weight: 700;
    padding: 10px 0px;
}
#main-panel-list-item-name {
    min-height: 50px;
    /* background-color: red; */
}
#main-panel-list-item-name {
    color: #333;
    text-overflow: ellipsis;
    text-align: center;
}


#landing-logo {
    width: 84px;
    padding-right: 3px;
}
